@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

body {font-family: 'Nanum Myeongjo', serif; font-size: 14px; color:#333; font-family: 'Noto Sans KR', sans-serif;}
.wrap {width: 100%; overflow: hidden;}

/*header*/
header {width: 100%; position: fixed; top:0; left: 0; z-index: 100; padding: 40px 0 25px; background-color: rgba(255, 255, 255, 0.2); font-family: 'Montserrat', sans-serif; font-weight: bold; text-align: center; text-transform: uppercase;transition:all 0.4s;}
header .inner {width: 90%; margin: 0 auto;}
header .inner .logo {display: inline-block;  font-size: 25px; letter-spacing: 1px;transition:all 0.4s;}
.logo img {width: 100px;}
header .inner .gnbBtn { display: block; float: left;  width: 32px; height: 12px; position: relative; margin-top: 15px;transition:all 0.4s; z-index: 200;}
header .inner .gnbBtn span {background: #fff; width: 100%; height: 3px; display: block; position: absolute; left: 0;}
header .inner .gnbBtn span.a {top:0; }
header .inner .gnbBtn span.b {bottom:0; }
header .inner .contact {display: block; float: right; margin-top: 10px;transition:all 0.4s;}
header .inner .contact:hover {cursor: pointer; color: blue;}
/*header motion*/
header.on {padding: 20px 0 18px; transition:all 0.4s;}
header.on .logo {font-size: 22px; transition:all 0.4s;}
header.on .gnbBtn, header.on .contact {margin-top:4px;transition:all 0.4s; }

/*gnb*/
nav.gnb {position: absolute; left:-1000px;top:0; background: rgb(255, 255, 255); color: rgb(51, 0, 255) width: 0;height: 100vh;padding: 95px 50px; box-sizing: border-box;text-align: left; transition: all 0.7s; overflow: hidden;}
nav.gnb ul {position: absolute; width: 60%; left: 50%; top:50%; transform: translate(-50%,-50%);border-top: 1px solid #555; border-bottom: 1px solid #555; padding: 20px 0;}
nav.gnb ul li a {text-align: left; line-height: 50px; font-size: 22px;}
nav.gnb ul li a:hover {cursor: pointer; color: blue;}
/*header.on붙을 때 gnb디자인*/
header.on nav.gnb {width: 300px; transition: all 0.4s;}
header.on nav.gnb ul {width: 50%;}

/*gnb.on*/
nav.gnb.on {width: 400px; left:0; }
/*contents*/
.contents {background: #fff;position: relative; z-index: 1;margin-bottom: 200px;}
.contents .visual {width: 100vw;  height: 100vh; position: relative;}
.contents .visual .waves {width: 100vw; height: 100vh; object-fit: cover; position: absolute; left: 0; top:0;}

/*section.about*/
section.about { background: #f2f0eb; padding: 100px 0; text-align: center;}
.subtitle {font-size: 30px;}
section.about .inner .text p {font-size: 28px; width: 50%; margin: 20px auto; padding: 50px 0;}

/*section.approach*/
section.approach {padding: 100px 0; }
section.approach .inner { position: relative;}
section.approach .inner .list {width: 48%; }
section.approach .inner .list li {margin-bottom: 30px;}
section.approach .inner .list li:last-child {margin-bottom: 0;}
section.approach .inner .list li a {display: block; width: 100%; height: 100%; border-radius: 10px; overflow: hidden; position: relative;}
section.approach .inner .list li a span {display: none;}
section.approach .inner .list li a img {width: 100%;}
section.approach .inner .fix {position: absolute; width: 45%; height: 100%;  right: 0; top:0; }
/*section.approach - motion */
section.approach .inner .fix .text {position: absolute; bottom: 10%;}
section.approach .inner .fix .text.on {position: fixed; bottom: 50%; transform: translateY(50%);}

/*section.sectors*/
section.sectors {background: #f2f0eb; padding: 100px 0 230px;position: relative; margin-bottom: 260px; text-align: center;}

/*footer*/
footer {position: fixed; left: 0; bottom: 0; width: 100%; height: 200px; background: #6c6c6c;color:#fff; padding: 75px 0; box-sizing: border-box; z-index: -1; }
footer .inner {display: flex; justify-content: space-between;font-family: 'Montserrat',sans-serif;}
footer .inner a img {width: 100px;;}
footer .inner .contact {width: 30%; line-height: 1.4;margin-top: 10px; }
footer .inner .sns {display: flex;margin-top: 20px;}
footer .inner .sns li {margin:0 40px; font-weight: bold; font-size: 17px;}


@keyframes textAni {
    0% {opacity: 0;}
    30% {opacity: 0;}
}

/*visual*/
.visual .title.motion .char {
    animation: textAni 2s  both;
     animation-delay: calc(0.08s * var(--char-index));
}

.text.motion .word {
     animation: textAni 0.8s both;
     animation-delay: calc(0.02s * var(--word-index));
}

.text.motion a {animation:border 1s both;}
@keyframes border {
    0% {border-color:transparent;}
    60% {border-color:transparent;}
}


        




        
        
        
        
        
  




