
/*1400px*/
@media screen and (max-width:1400px){
  .inner {width: 90%;}
}

/*1024px*/
@media screen and (max-width:1024px){
  .contents .visual .title {font-size: 50px;}
  section.about .inner .text p,.text p {font-size: 28px;}
  section.approach .inner .list {width: 100%; display: flex;flex-wrap: wrap; justify-content: space-between;}
  section.approach .inner .list li {width: 48.5%;margin-bottom: 20px;}
  section.approach .inner .list li:last-child {margin-bottom: 20px;}
  section.approach .inner .fix {position: static; width: 100%; margin-bottom: 50px;}
  section.approach .inner .fix .text {position: static;}
  section.approach .inner .fix .text.on {position: static; transform: none;}
  section.approach .inner {display: flex;flex-wrap: wrap;flex-direction: column-reverse;}
  section.approach .inner .list li a.on:after, section.approach .inner .list li a:hover:after {display: none;}
  section.approach .inner .list li a.on span, section.approach .inner .list li a:hover span,section.approach .inner .list li a span {position: absolute; display: block; z-index: 1; width: 100%;left: 0;top: 50%;transform: translateY(-50%); text-align: center; color:#fff;font-size: 25px; font-style: italic;}
  section.approach .inner .list li a.on span b,section.approach .inner .list li a:hover span b,section.approach .inner .list li a span b {font-family: 'Montserrat', sans-serif; font-style: normal;}
  section.sectors {padding: 100px 0 20%;margin-bottom: 15%;}
  footer .inner {flex-wrap: wrap;}
  footer .inner .footerLogo{width: 100%;}
  .contents{margin-bottom: 330px;}
  footer {height: 330px;}
  footer .inner .contact {width: 100%; margin: 20px 0;}
  footer .inner .sns {width: 100%; justify-content: space-between;}
  footer .inner .sns li {margin: 0;}
    }

  
  /*500px*/
  @media screen and (max-width:500px){
      header {padding: 20px 0 18px;}
      header .inner .gnbBtn, header.on .inner .gnbBtn {width: 22px; margin-top: 5px;}
      header .inner .logo, header.on .inner .logo  {font-size: 18px;}
      header .inner .contact {display: none;}
      nav.gnb.on, header.on nav.gnb {width: 100%; padding: 0;} 
      nav.gnb ul, header.on nav.gnb ul {width: 50%;}  
      .contents .visual .title {font-size: 32px;}
      section.about .inner .text p, .text p {font-size: 22px;}
      section.about,section.approach {padding: 80px 0;}
      section.approach .inner .list li {width: 100%;}
      section.sectors {padding: 80px 0 85%; margin-bottom: 120%;}
      footer {height: 280px; padding: 50px 0;}
      footer .inner .footerLogo {font-size: 35px; text-align: center;}
      footer .inner .sns li {font-size: 13px;}
      .contents {margin-bottom: 280px;}
  }